{% extends "base_imovel.html" %}
{% block body %}

<div class="container container mt-4 mb-5">

  {% if form.instance.id %}
  <h3 class="display-4 text-center"> Editar </h3>
  {% else %}
  <h3 class="display-4 text-center"> Adicionar </h3>
  {% endif %}

  <hr class="bg-dark mb-4 w-25">
  <div class="row" style="padding:20px">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
          {{ field }}
        </div>
        {% endfor %}

        <div class="form-group">
          <button class="btn btn-warning btn-block" type="submit">Salvar</button>
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
          <button aria-hidden="true" class="close"
                  data-dismiss="alert" type="button">
          </button>
          {{ form.errors }}
        </div>
        {% endif %}

      </form>
    </div>
  </div>
</div>

{% endblock %}