{% extends "base_imovel.html" %}
{% load static %}
{% block body %}


<!-- Card -->
<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Imoveis </h3>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        {% for imovel in imoveis %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ imovel.imagem.url }}" style="height: 200px;"
                     alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">{{ imovel.nome }}</h4>
                    <p class="card-text">{{ imovel.descricao }}</p>
                    <a href="{% url 'item_imovel' imovel.id %}" class="btn btn-primary rounded-0 mb-2">Detalhes</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Card -->
    </div>
</div>

{% endblock %}