{% extends "base_imovel.html" %}
{% load static %}

{% block body %}
<div class="container">

  <div class="row">

    <!-- .col-lg-3 -->
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ imovel.imagem.url }}" alt="">
        <div class="card-body">
          <!-- Nome -->
          <h3 class="card-title">{{ imovel.nome }}</h3>

          <!-- Contato -->
          <h5>Contato(s): </h5>
          {% for perfil in imovel.perfis.all %}
          <b>{{ perfil.nome }} - </b>Telefone: {{ perfil.telefone }}
          <a class="m-5">Email: {{ perfil.email }}</a>
          <br>
          {% endfor %}

          <!-- Descricao -->
          <h5 class="pt-4">Descrição do imóvel</h5>
          <div class="w-100 pl-3 pb-3 mh-75">
            <p class="card-text">{{ imovel.descricao }}</p>
          </div>

          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          4.0 stars
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          <h5>Endereço</h5>
        </div>
        <div class="card-body">

          <div class="row" style="min-height: 150px;">
            <row class="d-flex justify-content-around" style="min-width: 100%;">
              <div class="col" style="min-width:50%;">
                <p><b class="pl-3">Rua: </b>{{ imovel.rua }}</p>
              </div>
              <div class="col">
                <p><b class="pl-3">Nº: </b>{{ imovel.numero }}</p>
              </div>
              <div class="col">
                <p><b class="pl-3">CEP: </b>{{ imovel.cep }}</p>
              </div>
            </row>
            <row class="d-flex justify-content-around" style="min-width: 100%;">
              <div class="col" style="min-width:50%;">
                <p><b class="pl-3">Bairro: </b>{{ imovel.bairro }}</p>
              </div>
              <div class="col">
                <p><b class="pl-3">Cidade: </b>{{ imovel.cidade }}</p>
              </div>
              <div class="col">
                <p><b class="pl-3">UF: </b>{{ imovel.estado }}</p>
              </div>
            </row>
          </div>

          <hr>
          {% if request.user.perfil in imovel.perfis.all %}
          <div class="d-flex justify-content-around">
            <a href="{% url 'remover_imovel' imovel.id %}"
               class="btn btn-danger rounded-0 mb-2">Remover</a>
            <a href="{% url 'editar_imovel' imovel.id %}" class="btn btn-primary rounded-0 mb-2">Editar informações</a>
            <a href="{% url 'add_proprietario' imovel.id %}" class="btn btn-primary rounded-0 mb-2">Adicionar
              proprietario</a>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Immobile Website 2019</p>
  </div>
</footer>
<!-- Footer -->

{% endblock %}